.text-map {
	display: flex;
	flex-direction: column;
}

.tm-text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.map {
	align-self: center;
	width: 100%;
	height: 500px;
	height: calc(100svh - 140px);
	border: none;
	margin-top: 40px;
}